// Font face Fontawesome
@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}
// End of Font face

// Defaults
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
// End of Defaults

// To top button
#to_top_button{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    background: #444444;
    transition: all 0.3s linear;
    &:hover{
        background-color: #25baa9;
    }
}
// End of To top button

// Preloader
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: white;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
// End of Preloader

// Iframe
#iframe{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 999;
    .iframe_keeper{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 10px solid white;
        height: 490px;
        i{
            position: absolute;
            top: -20px;
            right: -20px;
            width: 30px;
            height: 30px;
            background-color: black;
            text-align: center;
            font-size: 2em;
            border-radius: 100%;
            color: white;
            cursor: pointer;
        }
    }
}

@media(max-width:1024px){
    #iframe{
        .iframe_keeper{
            height: 300px;
            width: 90%;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}
// End of Iframe

// Header
header{
    height: 50px;
    background-color: #1d1d1d;
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            line-height: 50px;
            font-family: 'Lato', sans-serif;
            color: rgba(255,255,255,0.70);
        }
    }
    .icons{
        display: flex;
        justify-content: space-around;
        align-items: center ;
        i{
            line-height: 50px;
            color: #d2b871;
            cursor: pointer;
        }
    }
}

@media(max-width:1024px){
    header{
        .icons{
            display: none;
        }
    }
}
// End of Header

// Main_header
#main_header{
    display: flex;
    align-items: center;
    position: relative;
    i{
        font-size: 1.5em;
        color: #d2b871;
    }
    .text_one{
        font-weight: 600;
        font-size: 0.9em;
        margin-bottom: 0px;
    }
    .text_two{
        font-size: 0.9em;
        color: #767676;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .inner{
        height: 50px;
        background-color: #d2b871;
    }
    #navbar_main{
        position: absolute;
        width: 100%;
        top: 100%;
        z-index: 99;
        .navbar{
            height: 60px;
            background-color: #143856;
            .request{
                position: absolute;
                width: 20%;
                height: 100%;
                background-color: #d2b871;
                right: 0px;
                transition: all 0.3s linear;
                &:hover{
                    background-color: #25baa9;
                    cursor: pointer;
                }
                p{
                    color: white;
                    font-weight: 600;
                    text-align: center;
                    line-height: 3.5em;
                    font-size: 1.1em;
                }
            }
            .hidden_navbar_icon{
                display: none;
            }
            .search_area{
                width: 28%;
                height: 100%;
                position: relative;
                #search_button{
                    color: white;
                    font-size: 0.95em;
                    line-height: 3em;
                    &:hover{
                        cursor: pointer;
                    }
                }
                .search_input{
                    display: none;
                    position: absolute;
                    background-color: white;
                    top: 117%;
                    left: -90%;
                    border-top: 3px solid #25baa9;
                    padding: 25px 20px;
                    #search{
                        padding: 5px 10px;
                        border: 1px solid #aaaaaa;
                        outline: none;
                    }
                    span{
                        position: relative;
                        right: 10%;
                        i{
                            color: #858585;
                            font-size: 0.95em;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .nav{
                float: left;
                height: 100%;
                width: 70%;
                .main_list{
                    height: 100%;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 2px;
                        height: 20px;
                        border-right: 1px solid rgba(255,255,255,0.40);
                    }
                    .main_list_items{
                        position: relative;
                        &:hover .dropdown_list{
                            visibility: visible;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            font-weight: 500;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .dropdown_list{
                            visibility: hidden;
                            list-style: none;
                            width: 250px;
                            background-color: #d2b871;
                            position: absolute;
                            top: 180%;
                            left: 0px;
                            transition: visibility 0.1s;
                            li{
                                position: relative;
                                color: white;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                padding-left: 30px;
                                transition: all 0.3s linear;
                                &:not(:last-child){
                                    border-bottom: 1px solid rgba(255,255,255,0.50);
                                }
                                &:hover{
                                    background-color: rgba(255,255,255,0.50);
                                    color: #1d1d1d;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
            .responsive_navbar{
                display: none;
                .main_list_responsive{
                    list-style: none;
                }
            }
        }
    }
}

@media(max-width:1024px){
    #main_header{
        display: flex;
        align-items: center;
        padding-bottom: 90px;
        i{
            font-size: 1.5em;
            color: #d2b871;
            padding-bottom: 10px;
        }
        .text_one{
            text-align: center;
            font-weight: 600;
            font-size: 0.9em;
        }
        .text_two{
            text-align: center;
            font-size: 0.9em;
            color: #767676;
            font-weight: 600;
        }
        .inner{
            height: 50px;
            background-color: #d2b871;
        }
        #navbar_main{
            top: 83%;
            .navbar{
                height: 60px;
                overflow: hidden;
                transition: all 0.5s linear;
                .hidden_navbar_icon{
                    display: block;
                    position: absolute;
                    width: 15%;
                    height: 40px;
                    background-color: #d2b871;
                    right: 10px;
                    top: 10px;
                    text-align: center;
                    i{
                        color: white;
                        line-height: 1.7em;
                    }
                }
                .request{
                    display: none;
                }
                .search_area{
                    width: 100%;
                    #search_button{
                        font-size: 1em;
                    }
                    .search_input{
                        display: none;
                        top: 117%;
                        left: -2%;
                        padding: 15px;
                        #search{
                            padding: 5px 5px;
                        }
                        span{
                            right: 10%;
                        }
                    }
                }
                .nav{
                    display: none;
                }
                .responsive_navbar{
                    display: block;
                    position: absolute;
                    top: 70px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                    height: 75%;
                    border: 1px solid white;
                    background-color: #2c2c2c;
                    overflow: scroll;
                    .main_list_responsive{
                        list-style-type: none;
                        width: 100%;
                        .main_list_items_res{
                            position: relative;
                            border-bottom: 1px solid white;
                            width: 100%;
                            padding: 10px 0px;
                            &:not(:last-child)::after{
                                content: "\f078";
                                font-family: "FontAwesome";
                                font-weight: 100;
                                position: absolute;
                                width: 35px;
                                height: 30px;
                                border: 1px solid white;
                                text-align: center;
                                line-height: 1.5em;
                                right: 2%;
                                top: 7px;
                                color: white;
                            }
                            a{
                                color: white;
                                text-decoration: none;
                                padding-left: 8%;
                            }
                            .dropdown_list_res{
                                display: none;
                                overflow: hidden;
                                list-style: none;
                                width: 100%;
                                padding-top: 10px;
                                .header_style_main{
                                    position: relative;
                                    &::after{
                                        content: "\f078";
                                        font-family: "FontAwesome";
                                        font-weight: 100;
                                        position: absolute;
                                        width: 35px;
                                        height: 30px;
                                        border: 1px solid white;
                                        text-align: center;
                                        line-height: 1.5em;
                                        right: 2%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        color: white;
                                    }
                                }
                                li{
                                    width: 100%;
                                    border-top: 1px solid white;    
                                    padding: 10px 20px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// End of Main_header

// Hidden_navbar
#hidden_navbar{
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 0px;
    z-index: 99;
    background-color: white;
    box-shadow: 0px 0px 60px white;
    display: none;
    align-items: center;
    .navbar{
        width: 100%;
        height: 100%;
        .nav{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .main_list_hidden{
                padding-top: 2%;
                height: 100%;
                width: 100%;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-around;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    left: 105%;
                    top: 60%;
                    transform: translateY(-50%);
                    width: 2px;
                    height: 20px;
                    border-right: 1px solid rgba(0,0,0,0.50);
                }
                .main_list_items{
                    position: relative;
                    &:hover .dropdown_list{
                        visibility: visible;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        font-weight: 500;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                    .dropdown_list{
                        visibility: hidden;
                        list-style: none;
                        width: 250px;
                        background-color: #d2b871;
                        position: absolute;
                        top: 245%;
                        left: 0px;
                        li{
                            position: relative;
                            color: white;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            padding-left: 30px;
                            transition: all 0.3s linear;
                            &:not(:last-child){
                                border-bottom: 1px solid rgba(255,255,255,0.50);
                            }
                            &:hover{
                                background-color: rgba(255,255,255,0.50);
                                color: #1d1d1d;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .icon{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            cursor: pointer;
        }
    }
    .search_input{
        display: none;
        width: 278px;
        padding: 20px 30px;
        position: absolute;
        top: 100.5%;
        left: 65%;
        border-top: 3px solid #25baa9;
        background-color: white;
        #search_hidden{
            padding: 5px 10px;
            border: 1px solid #aaaaaa;
            outline: none;
        }
        span{
            position: absolute;
            right: 15%;
            top: 50%;
            transform: translateY(-50%);
            i{
                color: #858585;
                font-size: 0.95em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

@media(max-width:1024px){
    #hidden_navbar{
        display: none;
    }
}
// End of Hidden_navbar

// Slider section
#slider_business{
    height: 590px;
    .owl-carousel{
        height: 100%;
        .owl-stage-outer{
            height: 100%;
            .item{
                height: 100%;
                .inner{
                    height: 610px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .inline_text{
                        overflow: hidden;
                        position: absolute;
                        z-index: 10;
                        width: 45%;
                        left: 10%;
                        top: 50%;
                        transform: translateY(-50%);
                        h2{
                            font-size: 3.2em;
                            font-weight: 800;
                            color: white;
                            opacity: 0;
                            transform: translateY(-20px);
                            animation-name: effect;
                            animation-duration: 1s;
                            animation-delay: 0.2s;
                            animation-timing-function: linear;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                        }
                        .text{
                            padding-top: 20px;
                            opacity: 0;
                            transform: translateY(10px);
                            animation-name: effect_text;
                            animation-duration: 1s;
                            animation-delay: 0.2s;
                            animation-timing-function: linear;
                            animation-iteration-count: 1;
                            animation-fill-mode: forwards;
                            p{
                                color: white;
                                font-size: 1.2em;
                                line-height: 2em;
                                font-weight: 200;
                            }
                            .more{
                                width: 25%;
                                background-color: transparent;
                                border-radius: 20px;
                                padding: 10px 20px;
                                outline: none;
                                border: 1px solid white;
                                margin-right: 20px;
                                color: white;
                                cursor: pointer;
                                &:hover{
                                    border: 1px solid #d2b871;
                                    background-color: #d2b871;
                                }
                            }
                            .contact{
                                width: 25%;
                                background-color: #d2b871;
                                border-radius: 20px;
                                padding: 10px 20px;
                                outline: none;
                                border: 1px solid #d2b871;
                                color: white;
                                cursor: pointer;
                                &:hover{
                                    background-color: transparent;
                                    color: #d2b871;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .owl-carousel .owl-nav .owl-prev{
        font-family: "FontAwesome";
        font-weight: 100;
        position: absolute;
        width: 60px;
        height: 60px;
        font-size: 3em;
        line-height: 60px;
        text-align: center;
        background-color: white;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        outline: none;
        transition: all 0.2s linear;
        border-radius: none;
        color: #767676;
        &:hover{
            background-color: darken($color: white, $amount: 10);
            font-size: 3.2em;
            color: black;
        }
    }
    .owl-carousel .owl-nav .owl-next{
        font-family: "FontAwesome";
        font-weight: 100;
        position: absolute;
        width: 60px;
        height: 60px;
        font-size: 3em;
        line-height: 60px;
        text-align: center;
        background-color: white;
        top: 50%;
        transform: translateY(-50%);
        right: -5px;
        outline: none;
        transition: all 0.2s linear;
        border-radius: none;
        color: #767676;
        &:hover{
            background-color: darken($color: white, $amount: 10);
            font-size: 3.2em;
            color: black;
        }
    }
}

@media(max-width:1024px){
    #slider_business{
        height: 250px;
        .owl-carousel{
            .owl-stage-outer{
                .item{
                    .inner{
                        height: 250px;
                        .inline_text{
                            width: 60%;
                            h2{
                                font-size: 1em;
                            }
                            .text{
                                padding-top: 30px;
                                p{
                                    font-size: 0.7em;
                                    line-height: 1em;
                                }
                                .more{
                                    width: 45%;
                                    padding: 5px 10px;
                                    margin-right: 10px;
                                    font-size: 0.5em;
                                }
                                .contact{
                                    width: 45%;
                                    padding: 5px 10px;
                                    font-size: 0.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
        .owl-carousel .owl-nav .owl-prev{
            font-family: "FontAwesome";
            font-weight: 100;
            position: absolute;
            width: 60px;
            height: 60px;
            font-size: 3em;
            line-height: 60px;
            text-align: center;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
            left: -5px;
            outline: none;
            transition: all 0.2s linear;
            border-radius: none;
            color: #767676;
            &:hover{
                background-color: darken($color: white, $amount: 10);
                font-size: 3.2em;
                color: black;
            }
        }
        .owl-carousel .owl-nav .owl-next{
            font-family: "FontAwesome";
            font-weight: 100;
            position: absolute;
            width: 60px;
            height: 60px;
            font-size: 3em;
            line-height: 60px;
            text-align: center;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
            right: -5px;
            outline: none;
            transition: all 0.2s linear;
            border-radius: none;
            color: #767676;
            &:hover{
                background-color: darken($color: white, $amount: 10);
                font-size: 3.2em;
                color: black;
            }
        }
    }
}

@keyframes effect{
    100%{
        transform: translateY(20px);
        opacity: 1;
    }
}

@keyframes effect_text{
    100%{
        transform: translateY(-10px);
        opacity: 1;
    }
}
// End of Slider section

// What we do
#whatwedo{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #efefef;
    display: flex;
    align-items: center;
    .text_inner{
        h3{
            font-weight: 600;
            font-size: 2em;
        }
        hr{
            width: 20%;
            border:1px solid #d2b871;
        }
        .first{
            opacity: 0.7;
        }
        button{
            width: 200px;
            background-color: #d2b871;
            border-radius: 20px;
            padding: 10px 20px;
            outline: none;
            border: 1px solid #d2b871;
            color: white;
            cursor: pointer;
            &:hover{
                background-color: transparent;
                color: #d2b871;
            }
        }
    }
    .inner{
        transition: all 0.5s linear;
        &:hover{
            transform: translateY(-10px);
        }
        &:hover .image .layout{
           opacity: 0.8;
        }
        .image{
            width: 100%;
            height: 100%;
            position: relative;
            padding-bottom: 20px;
            img{
                width: 100%;
                height: 100%;
            }
            .layout{
                transition: all 0.5s linear;
                position: absolute;
                z-index: 3;
                width: 100%;
                height: 93.5%;
                background-color: #25baa9;
                opacity: 0;
            }
        }
        h4{
            &:hover{
                color: #25baa9;
                cursor: pointer;
            }
        }
        .img_text{
            opacity: 0.7;
        }
    }
}

@media(max-width:1024px){
    #whatwedo{
        .text_inner{
            margin-bottom: 20%;
        }
        .inner{
            .image{
                .layout{
                    height: 96%;
                }
            }
        }
    }
}
// End of What we do

// Company
#company{
    padding-top: 60px;
    padding-bottom: 60px;
    .inner{
        h2{
            position: relative;
            display: inline-block;
            font-weight: 600;
            font-size: 2em;
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: #d2b871;
                bottom: 5px;
                left:100%;
            }
        }
    }
    .image{
        img{
            width: 100%;
        }
    }
    .text{
        h3{
            font-size: 1.4em;
        }
        p{
            font-size: 1em;
            opacity: 0.8;
        }
        ul{
            list-style: none;
            li{
                font-weight: 500;
                font-size: 1.1em;
                &::before{
                    content: "\f00c";
                    font-family: "FontAwesome";
                    font-size: 1.2em;
                    color: #d2b871;
                    margin-right: 15px;
                }
            }
        }
    }
    .inner_two{
        h2{
            position: relative;
            display: inline-block;
            font-weight: 600;
            font-size: 2em;
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: #d2b871;
                bottom: 5px;
                left: 103%;
            }
        }
    }
    .accordion{
        .tabs{
            height: 55px;
            border: 1px solid #ededed;
            margin-bottom: 10px;
            display: flex;
            overflow: hidden;
            transition: all 0.2s linear;
            &:hover{
                cursor: pointer;
            }
            .icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 10%;
                height: 53px;
                font-size: 1.2em;
                i{
                    color: #25baa9;
                }
            }
            .text{
                padding: 20px;
                width: 90%;
                h6{
                    font-size: 1em;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media(max-width:1024px){
    #company{
        .text{
            p{
                font-size: 0.9em;
            }
        }
        .inner_two{
            h2{
                font-size: 1.6em;
                margin-bottom: 5%;
                &::after{
                    left: 102%;
                }
            }
        }
        .accordion{
            .tabs{
                .text{
                    padding: 10px;
                }
            }
        }
    }   
}
// End of Company

// Work
#work{
    position: relative;
    height: 330px;
    background-image: url(http://t.commonsupport.com/consultox/images/background/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .layout{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(30,33,54,0.90);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h2{
        color: white;
        font-size: 2.5em;
        text-align: center;
    }
    h4{
        color: #25baa9;
        text-align: center;
        font-size: 2em;
        font-weight: 300;
    }
    p{
        text-align: center;
        color: #d2b871;
        font-size: 1.9em;
        font-weight: 600;
    }
    .contact{
        width: 35%;
        background-color: #25baa9;
        border-radius: 30px;
        outline: none;
        border: 1px solid #25baa9;
        color: white;
        cursor: pointer;
        font-weight: 700;
        &:hover{
            background-color: transparent;
            color: #25baa9;
        }
    }
}

@media(max-width:1024px){
    #work{
        height: 400px;
        .layout{
            padding: 100px 0px;
        }
        h2{
            font-size: 1.9em;
        }
        h4{
            font-size: 1.5em;
        }
        .contact{
            width: 50%;
            padding: 10px 20px;
        }
    }
}
// End of Work

// Recent case study
#recentcasestudy{
    padding: 80px 0px;
    background-color:#efefef;
    .text{
        h4{
            font-family: 'Playfair Display', serif;
            font-style: italic;
            color: #aaaaaa;
            font-size: 1.4em;
        }
        h2{
            font-weight: 600;
        }
        hr{
            width: 10%;
            border-color: #d2b871;
        }
        p{
            color: #767676;
        }
        .more{
            width: 35%;
            background-color: transparent;
            border-radius: 30px;
            padding: 10px 20px;
            outline: none;
            border: 2px solid #25baa9;
            margin-right: 20px;
            color: #25baa9;
            transition: all 0.3s linear;
            font-weight: 700;
            cursor: pointer;
            &:hover{
                background-color: #25baa9;
                color: white;
            }
        }
    }
    .iframe{
        position: relative;
        .play_icon{
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            border: 2px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        img{
            width: 100%;
            transition: all 0.3s linear;
            &:hover{
                filter:brightness(80%);
            }
        }
    }
}

@media(max-width:1024px){
    #recentcasestudy{
        .text{
            h2{
                font-size: 1.5em;
            }
            hr{
                width: 20%;
            }
            .more{
                width: 50%;
                margin-bottom: 30px;
            }
        }
    }
}
// End of Recent case study

// Case section
#case{
    background-color: #cabf91;
    padding: 80px 0px;
    h2{
        font-size: 2.3em;
        font-weight: 600;
        display: inline-block;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            border-top: 1px solid black;
            left: 103%;
            bottom: 10px;    
        }
    }
    .mini_navbar{
        display: flex;
        justify-content: space-between;
        width: 70%;
        list-style: none;
        .active{
            text-decoration: underline;
        }
        li{
            font-weight: 700;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .carousel{
        width: 100%;
        .owl-carousel.owl-drag .owl-item{
            height: 100%;
            border-right: 1px solid #59595966;
            .image{
                position: relative;
                overflow: hidden;
                &:hover .layout{
                    right: 0%;
                }
                img{
                    margin-bottom: 40px;
                    width: 100%;
                }
                .layout{
                    transition: all 0.4s linear;
                    position: absolute;
                    width: 100%;
                    height: 85%;
                    right: 100%;
                    background-color: rgba(0, 0, 0, 0.77);
                    overflow: hidden;
                    .icon{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        width: 50px;
                        height: 50px;
                        border: 1px solid white;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        transition: all 0.3s linear;
                        &:hover{
                            cursor: pointer;
                            background-color: white;
                            color: #767676;
                        }
                    }
                }
            }
            h6{
                text-align: center;
                text-decoration: none!important;
            }
        }
    }
}

@media(max-width:1024px){
    #case{
        h2{
            font-size: 2.3em;
            font-weight: 600;
            display: inline-block;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                border-top: 1px solid black;
                left: 103%;
                bottom: 10px;    
            }
        }
        .mini_navbar{
            flex-direction: column;
            width: 100%;
            li{
                width: 100%;
                text-align: center;
                border: 1px solid black;
                padding: 10px 0px;
                margin-bottom: 3%;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .carousel{
            .owl-carousel.owl-drag .owl-item{
                .image{
                    &:hover .layout{
                        right: 0%;
                    }
                    .layout{
                        height: 89%;
                    }
                }
                h6{
                    text-align: center;
                    text-decoration: none!important;
                }
            }
        }
    }
}
// End of case

// Testimonials
#testimonials{
    position: relative;
    height: 450px;
    background-image: url(http://t.commonsupport.com/consultox/images/background/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .layout{
        padding-top: 60px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:rgba(29,51,76,0.95);
        display: flex;
        align-items: center;
        justify-content: center;
        .image{
            width: 160px;
            height: 100px;  
            border-right: 1px solid rgba(255,255,255,0.20);
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                border-radius: 100%;
                width: 60%;
            }
        }
        h4{
            font-family: 'Playfair Display', serif;
            font-style: italic;
            color: white;
            margin-bottom: 20px;
        }
        h6{
            color: #d2b871;
            font-size: 1.2em;
        }
        p{
            color: #5a6470;
        }
    }
    .owl-carousel .owl-nav .owl-prev{
        font-family: "FontAwesome";
        font-weight: 100;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 2em;
        line-height: 100%;
        text-align: center;
        border: 1px solid rgba(255,255,255,0.50);
        color: rgba(255,255,255,0.50);
        top: -30%;
        transform: translateY(-50%);
        right: 60px;
        outline: none;
        transition: all 0.2s linear;
        &:hover{
            background-color: transparent;
            border-color: #25baa9;
            color: #25baa9;
        }
    }
    .owl-carousel .owl-nav .owl-next{
        font-family: "FontAwesome";
        font-weight: 100;
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 2em;
        line-height: 100%;
        text-align: center;
        border: 1px solid rgba(255,255,255,0.50);
        color: rgba(255,255,255,0.50);
        top: -30%;
        transform: translateY(-50%);
        right: -5px;
        outline: none;
        transition: all 0.2s linear;
        &:hover{
            background-color: transparent;
            border-color: #25baa9;
            color: #25baa9;
        }
    }
}

@media(max-width:1024px){
    #testimonials{
        height: 600px;
        .layout{
            padding-top: 60px;
            padding-bottom: 60px;
            .image{
                width: 100%;
                height: 150px;
                border-right: none;
                img{
                    width: 30%;
                }
            }
            h4{
                text-align: center;
                font-size: 1.3em;
            }
            h6{
                text-align: center;
                font-size: 1.2em;
            }
            p{
                text-align: center;
                font-size: 0.8em;
            }
        }
        .owl-carousel .owl-nav .owl-prev{
            top: 105%;
            right: 50%;
            transform: translateX(0%);
        }
        .owl-carousel .owl-nav .owl-next{
            top: 105%;
            right: 50%;
            transform: translateX(140%);
        }
    }
}
// End of testimonials

// News
#news{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #efefef;
    h2{
        position: relative;
        font-weight: 600;
        font-size: 2em;
        display: inline-block;
        &::after{
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            border: 1px solid #d2b871;
            left: 103%;
            bottom: 5px;
        }
    }
    .img_text{
        transition: all 0.3s linear;
        &:hover{
            transform: translateY(-8px);
        }
        .image{
            width: 100%;
            position: relative;
            margin-bottom: 8%;
            img{
                width: 100%;
            }
            .date{
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 40%;
                height: 18%;
                background-color: #d2b871;
                p{
                    color: white;
                    line-height: 2.5em;
                    text-align: center;
                    font-weight: 600;
                    font-size: 1.1em;
                }
            }
        }
        h5{
            font-weight: 600;
            transition: all 0.3s linear;
            &:hover{
                color: #d2b871;
                cursor: pointer;
            }
        }
        p{
            color: #5a6470;
            font-size: 0.95em;
            line-height: 2em;
        }
        a{
            text-decoration: underline;
            font-weight: 500;
        }
    }
    .text{
        background-color: white;
        padding: 35px;
        transition: all 0.3s linear;
        &:hover{
            transform: translateY(-8px);
            box-shadow: 0px 10px 10px rgba(128, 128, 128, 0.373);
        }
        .items{
            margin-bottom: 25px;
            h4{
                font-size: 1.3em;
                font-weight: 600;
                transition: all 0.3s linear;
                &:hover{
                    cursor: pointer;
                    color: #d2b871;
                }
            }
            p{
                color: #d2b871;
                font-size: 0.8em;
                font-weight: 600;
            }
        }
        .items:not(:last-child){
            border-bottom: 1px solid #ededed;
        }
    }
    .sponsors{
        margin-top: 40px;
        padding-top: 40px;
        border-top: 1px solid #d2d2d2;
        img{
            width: 100%;
            transition: all 0.3s linear;
            &:hover{
                cursor: pointer;
                filter: brightness(110%);
            }
        }
    }
}

@media(max-width:1024px){
    #news{
        .sponsors{
            .item{
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 50%;
                }
            }
        }
    }
}
// End of News

// Call back section
#callback{
    height: 385px;
    background-image: url(http://t.commonsupport.com/consultox/images/background/4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    .layout{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(33,36,54,0.90);
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color: white;
            font-size: 2.2em;
            font-weight: 600;
            display: inline-block;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                border: 1px solid #d2b871;
                bottom: 5px;
                left: 103%;
            }
        }
        input{
            width: 100%;
            padding: 10px 20px;
            color: #5a6470;
            outline: none;
        }
        select{
            width: 100%;
            padding: 10px 20px;
            color: #5a6470;
            outline: none;
            -webkit-appearance: none;
            background-image: url(https://cdn4.iconfinder.com/data/icons/ios-edge-glyph-3/25/Down-Carrot-512.png);
            background-size: 20px 20px;
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
            &:hover{
                cursor: pointer;
            }
        }
        .submit{
            width: 100%;
            padding: 10px 20px;
            color: white;
            outline: none;
            background-color: #d2b871;
            border: 2px solid #d2b871;
            transition: all 0.3s linear;
            &:hover{
                cursor: pointer;
                background-color: transparent;
                color: #d2b871;
            }
        }
    }
}

@media(max-width:1024px){
    #callback{
        height: 650px;
        .layout{
            h2{
                font-size: 1.5em;
            }
        }
    }
}
// End of Call back section

// Main footer
#main-footer{
    padding: 60px 0px;
    background-color: #191c20;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner{
        img{
            width: 80%;
            margin-bottom: 20px;
            &:hover{
                cursor: pointer;
            }
        }
        p{
            color: #aaaaaa; 
        }
        .m_text{
            font-size: 0.9em;
            color: #767676;
        }
        h5{
            color: white;
            font-size: 1.5em;
        }
        ul{
            list-style: none;
            li{
                color: #aaaaaa;
                padding-top: 15px;
                transition: all 0.3s linear;
                &:hover{
                    cursor: pointer;
                    color: #25baa9;
                }
            }
        }
        form{
            display: flex;
            input{
                background-color: #131518;
                width: 210px;
                padding: 10px 15px;
                border: 1px solid #26292d;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                outline: none;
                color: white;
                &::placeholder{
                    font-size: 0.9em;
                }
            }
            .button{
                width: 120px;
                height: 45px;
                background-color: #d2b871;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        span{
            float: left;
            width: 35px;
            height: 35px;
            border: 1px solid #858585;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #858585;
            margin-right: 10px;
            margin-top: 20px;
            transition: all 0.3s linear;
            &:hover{
                cursor: pointer;
                color: #d2b871;
                border-color: #d2b871;
            }
        }
    }
}

@media(max-width:1024px){
    #main-footer{
        .inner{
            form{
                .button{
                    width: 50px;
                }
            }
        }
    }
}
// End of Main footer

// Footer
footer{
    padding: 20px 0px;
    background-color: #131518;
    display: flex;
    justify-content: center;
    align-items: center;
    h6{
        text-align: center;
        color: rgba(255,255,255,0.20);
        font-size: 0.85em;
    }
}
// End of Footer